default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: mriya_development
test:
  <<: *default
  database: mriya_test

production:
  <<: *default
  database: mriya_production
  username: mriya
  password: <%= ENV['MRIYA_DATABASE_PASSWORD'] %>
