development:
  secret_key_base: 8abaea1b1d8444e8c923a9dec774e86481d514de0b7730ea96fe8d9a9adb0e997a237721d095b820800da2ce4ec75573eabc9f9ba0c86639358c02b0204538f9
  google_app_id: '517355726972-e54k4rgs522dhnef4rcud2lv2fhohcno.apps.googleusercontent.com'
  google_app_key: 'VpKH_2E4p1XAkPNuFV4eNpdR'
  facebook_app_id: '124625894747939'
  facebook_app_key: '6df283bece01aff7a714cb8d6ad61166'
  vk_app_id: '5986960'
  vk_app_key: 'TUxWrSS6baK0vQzem6ft'
  sendgrid_username: 
  sendgrid_password: 
  app_host: http://fcmriya.org

test:
  secret_key_base: e11833863d99a34fdbe7eaaad78313738b8a4226c910c800cb6232b860c34b13457d10a67402d1703886e37ab48efc34cdca9f0a7e1c78883d7e1104178d098c
  google_app_id: '517355726972-e54k4rgs522dhnef4rcud2lv2fhohcno.apps.googleusercontent.com'
  google_app_key: 'VpKH_2E4p1XAkPNuFV4eNpdR'
  facebook_app_id: '124625894747939'
  facebook_app_key: '6df283bece01aff7a714cb8d6ad61166'
  vk_app_id: '5986960'
  vk_app_key: 'TUxWrSS6baK0vQzem6ft'
  sendgrid_username: 
  sendgrid_password: 
  app_host: http://fcmriya.org

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  google_app_id: '517355726972-e54k4rgs522dhnef4rcud2lv2fhohcno.apps.googleusercontent.com'
  google_app_key: 'VpKH_2E4p1XAkPNuFV4eNpdR'
  facebook_app_id: '124625894747939'
  facebook_app_key: '6df283bece01aff7a714cb8d6ad61166'
  vk_app_id: '5986960'
  vk_app_key: 'TUxWrSS6baK0vQzem6ft'
  sendgrid_username: 
  sendgrid_password: 
  app_host: http://fcmriya.org