.index-image-wrapper {
    margin-bottom: 25px;
    position: relative;
    img {
        width: 100%;
    }
    .about-club {
        position: absolute;
        left: 10%;
        top: 45%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 36px;
        color: #fecb00;
        text-transform: uppercase;
        white-space: nowrap;
        @media only screen and(max-width: 991px) {
            font-size: 25px;
        }
        @media only screen and(max-width: 767px) {
            font-size: 18px;
        }
        @media only screen and(max-width: 500px) {
            left: 47%;
        }
    }
    .about-album {
        left: 22%;
        @media only screen and(max-width: 500px) {
            left: 47%;
        }
    }
    .about-coaching {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .schedule-text-wrapper {
        font-size: 80px;
        line-height: 1;
        text-transform: uppercase;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%,-50%);
        @media only screen and(max-width: 767px) {
            font-size: 45px;
        }
        .schedule-yellow {
            color: #fecb00;
            text-align: center;
        }
        .schedule-white {
            color: #FFF;
            text-align: center;
        }
    }
}

.index-image-wrapper-album {
    margin-bottom: 0;
}

.index-row {
    .index-col {
        padding-left: 14px;
        padding-right: 14px;
        .vertical-card {
            .image-wrapper {
                img {
                    @media only screen and (max-width: 767px) {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.wrapper-more-wrapper {
    width: 100%;
    margin-top: 25px;
    .more-wrapper {
        text-align: center;
    }
}

.btn-more {
    text-transform: uppercase;
    background-color: #fecb00;
    color: #005b9e;
    font-size: 14px;
    border-radius: 0;
    padding: 4px 0;
    margin: 0 auto;
    transition: 300ms;
    width: 110px;
    text-align: center;
    &:hover {
        opacity: 0.7;
    }
}
