.main-nav {
    padding-top: 0;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    min-height: 45px;
    .navbar-collapse {
        border-bottom: 2px solid #e7e8e7;
        padding-left: 20px;
        padding-right: 20px;
        .navbar-nav {
            @media only screen and (max-width: 991px) {
                margin-top: 38px;
            }
            .nav-item {
                font-size: 18px;
                text-transform: uppercase;
                border-right: 2px solid #e7e8e7;
                transform: skewx(-20deg);
                z-index: 10000;
                @media only screen and (max-width: 991px) {
                    border-right: 0;
                }
                .nav-link {
                    color: #005b9e;
                    transform: skewx(20deg);
                    padding: 0.1em 1em;
                }
                .dropdown-menu {
                    transform: skewx(20deg);
                    left: 18px;
                    @media only screen and (max-width: 991px) {
                        border: 0;
                        background: transparent;
                    }
                }
            }
            .nav-item-locales {
                font-size: 14px;
                border-right: 0;
                .nav-link {
                    color: #aeaeae;
                    padding-top: 7px;
                    padding-right: 0;
                    padding-left: 8px;
                }
            }
        }
    }
}

.registration-modal {
    .modal-dialog {
        width: 320px;
        .modal-content {
            padding: 30px 30px 10px 30px;
            border-radius: 0;
            .header {
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
            }
            .social-wrapper {
                .btn {
                    width: 100%;
                    border-radius: 0;
                    color: #FFF;
                    font-size: 14px;
                    margin: 8px 0;
                    padding: 14px;
                    font-size: 18px;
                    position: relative;
                    &:last-child {
                        margin-bottom: 16px;
                    }
                    i {
                        position: absolute;
                        left: 18px;
                        top: 17px;
                    }
                }
                .vk-btn {
                    background-color: #005b9e;
                    &:hover {
                        opacity: 0.8;
                    }

                }
                .fb-btn {
                    background-color: #304591;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .google-btn {
                    background-color: #ea4335;
                    &:hover {
                        opacity: 0.8;
                    }
                } 
            }
            .manual-wrapper {
                .reg-btn {
                    background-color: #fecb00;
                    color: #005b9e;
                    text-transform: uppercase;
                    border-radius: 0;
                    width: 45%;
                    font-size: 14px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

/***********search*************/
#search-wrapper {
    position: absolute;
    z-index: 15;
    top: 10px;
    right: 58px;
    display: none;
    width: 320px;
}
#search-btn {
    display: none;
}
/***********search*************/
