
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #3d3d3d;
    background: image-url('background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.custom-container {
    background-color: #FFF;
    padding-left: 0;
    padding-right: 0;
    min-height: 100vh;
    @media only screen and (min-width: 1200px) {
        width: 1170px;
    }
}

.main-section {
    .main-row {
        margin-bottom: -35px;
        .logo-col {
            .sprite {
                position: relative;
                left: 57px;
                top: -26px;
                @media only screen and (max-width: 1199px) {
                    left: 18px;
                }
            }
        }
        .social-col {
            padding-top: 20px;
            padding-right: 30px;
            ul {
                list-style: none;
                li {
                    float: right;
                    margin-left: 10px;
                    a {

                    }
                }
                .reg {
                    text-transform: uppercase;
                    font-size: 12px;
                }
                .ufc {
                    position: relative;
                    top: -8px;
                }
            }
        }
    }
}

.top-article-wrapper {
    .col {
        position: relative;
        overflow: hidden;
        .sub-fon {
            width: 54%;
            position: relative;
            z-index: 2;
        }
        .top-article-image {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding-left: 15px;
            padding-right: 15px;
        }
        .caption {
            color: #FFF;
            width: 57%;
            position: absolute;
            top: 17%;
            left: 40px;
            z-index: 3;
            .date {
                font-size: 16px;
            }
            .title {
                font-size: 60px;
                text-transform: uppercase;
                margin-bottom: 50px;
                @media only screen and (max-width:1199px) {
                    font-size: 50px;
                }
                @media only screen and (max-width:991px) {
                    font-size: 32px;
                }
                @media only screen and (max-width:767px) {
                    font-size: 18px;
                }
                @media only screen and (max-width: 550px) {
                    margin-bottom: 15px;
                    font-size: 16px;
                }
            }
        }
    }
}

.teams-wrapper {
    overflow: hidden;
    padding-right: 0px;
    margin-left: -15px;
    .teams {
        background-color: #e6e7e9;
        float: right;
        transform: skewX(-20deg);
        padding: 2px 30px 2px 62px;
        position: relative;
        right: -5px;
        @media only screen and (max-width: 991px) {
            transform: none;
            padding-left: 0;
            padding-right: 20px;
            float: none;
            margin-left: 10px;
            ul {
                transform: none !important;
                li {
                    margin-left: 10px !important;
                }
            }
        }
        ul {
            list-style: none;
            padding-left: 0;
            transform: skewX(20deg);
            li {
                float: right;
                margin-left: 20px;
                text-transform: uppercase;
                @media only screen and (max-width: 550px) {
                    margin-left: 4px !important;
                    a {
                        font-size: 15px !important;
                    }
                }
                &:last-child {
                    margin-right: 40px;
                    color: #005b9e;
                    position: relative;
                    top: 3px;
                    @media only screen and (max-width: 991px) {
                        display: none;
                    }
                }
                a {
                    text-transform: uppercase;
                    color: #005b9e;
                    font-size: 18px;
                    text-decoration: none;
                }
            }
        }
    }
        }

.read-btn {
    transition: 200ms;
    background-color: #fecb00;
    font-size: 18px;
    transform: skewx(-20deg);
    text-transform: uppercase;
    border-radius: 0;
    padding: 2px 42px;
    &:hover {
        cursor: pointer;
        background-color: yellow;
    }
    .label {
        transform: skewx(20deg);
        color: #005b9e;        
    }
}

@media (max-width: 575px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

.yellow-divider {
    background-color: #fecb00;
    height: 16px;
}