
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #3d3d3d;
    background: image-url('background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow-x: hidden;
}

a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.custom-alert {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.admin-btn {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0;
    width: 80px;
    z-index: 9999;
}

.custom-container {
    background-color: #FFF;
    padding-left: 0;
    padding-right: 0;
    min-height: 100vh;
    @media only screen and (min-width: 1200px) {
        width: 1170px;
    }
}

.main-section {
    .main-row {
        margin-bottom: -35px;
        .logo-col {
            .sprite {
                position: relative;
                left: 57px;
                top: -26px;
                @media only screen and (max-width: 1199px) {
                    left: 18px;
                }
            }
        }
        .social-col {
            padding-top: 20px;
            padding-right: 30px;
            ul {
                list-style: none;
                li {
                    float: right;
                    margin-left: 10px;
                    a {

                    }
                }
                .reg {
                    text-transform: uppercase;
                    font-size: 12px;
                }
                .ufc {
                    position: relative;
                    top: -8px;
                }
            }
        }
    }
}

.top-article-wrapper {
    margin-right: 0;
    .col {
        position: relative;
        overflow: hidden;
        @media only screen and (max-width: 575px) {
            padding-left: 0;
            padding-right: 0;
        }
        .sub-fon {
            width: 54%;
            position: relative;
            z-index: 2;
        }
        .top-article-image {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding-left: 15px;
            padding-right: 0;
            @media only screen and (max-width: 575px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .caption {
            color: #FFF;
            width: 57%;
            position: absolute;
            top: 17%;
            left: 40px;
            z-index: 3;
            padding-left: 15px;
            .date {
                font-size: 16px;
            }
            .title {
                font-size: 60px;
                text-transform: uppercase;
                margin-bottom: 50px;
                @media only screen and (max-width:1199px) {
                    font-size: 50px;
                }
                @media only screen and (max-width:991px) {
                    font-size: 32px;
                }
                @media only screen and (max-width:767px) {
                    font-size: 18px;
                }
                @media only screen and (max-width: 550px) {
                    margin-bottom: 4px;
                    font-size: 16px;
                }
            }
        }
    }
    .yellow-btn {
        position: absolute;
        bottom: -45px;
        @media only screen and (max-width: 400px) {
            bottom: -22px;
            right: -80px;
        }
    }
}

.teams-wrapper {
    overflow: hidden;
    padding-right: 0px;
    @media only screen and (max-width: 991px) {
        padding-left: 0;
    }
    .teams {
        background-color: #e6e7e9;
        float: right;
        transform: skewX(-20deg);
        padding: 2px 30px 2px 62px;
        position: relative;
        right: -5px;
        @media only screen and (max-width: 991px) {
            transform: none;
            padding-left: 0;
            padding-right: 0;
            float: none;
            right: 0;

            ul {
                transform: none !important;
                display: -webkit-flex; /* Safari */
                -webkit-justify-content: space-around; /* Safari 6.1+ */
                display: flex;
                justify-content: space-around;
                margin-bottom: 0;
                li {
                    margin-left: 0 !important;
                }
            }
        }
        ul {
            list-style: none;
            padding-left: 0;
            transform: skewX(20deg);
            li {
                float: right;
                margin-left: 20px;
                text-transform: uppercase;
                @media only screen and (max-width: 550px) {
                    margin-left: 4px !important;
                    a {
                        font-size: 15px !important;
                    }
                }
                &:last-child {
                    margin-right: 40px;
                    color: #005b9e;
                    position: relative;
                    top: 3px;
                    @media only screen and (max-width: 991px) {
                        display: none;
                    }
                }
                a {
                    text-transform: uppercase;
                    color: #005b9e;
                    font-size: 18px;
                    text-decoration: none;
                }
            }
        }
    }
}

.my-btn {
    font-size: 18px;
    transform: skewx(-20deg);
    text-transform: uppercase;
    border-radius: 0;
    padding: 2px 0;
    width: 160px;
    transition: 200ms;
    &:hover {
        cursor: pointer;
    }
    .label {
        transform: skewx(20deg);
        display: block;      
    }
}

.yellow-btn {
    background-color: #fecb00;
    &:hover {
        background-color: #dbb313;
    }
    .label {
        color: #005b9e;  
    }
}

.blue-btn {
    background-color: #005b9e;
    color: #FFF;
    &:hover {
        background-color: #004273;
        color: #FFF;
    }
}

@media (max-width: 575px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

.yellow-divider {
    background-color: #fecb00;
    height: 16px;
}

.video-wrapper {
    background-color: #005b9e;
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
    .custom-col {
        color: #FFF;
        position: relative;
        .image-wrapper {
            position: relative;
            img {
                width: 100%;
            }
             @media only screen and (max-width:767px) {
                margin-top: 15px;
            }
            .play {
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                border: 4px solid #fecb00;
                top: 40%;
                left: 45%;
                i {
                    color: #fecb00;
                    position: relative;
                    left: 18px;
                    top: 12px;
                    font-size: 26px;
                }
            }
        }
        .title {
            margin-bottom: 15px;
            font-size: 36px;
            text-transform: uppercase;
            @media only screen and (max-width:991px) {
                font-size: 26px;
            }
            @media only screen and (max-width:767px) {
                font-size: 18px;
            }
            @media only screen and (max-width: 550px) {
                margin-bottom: 4px;
                font-size: 16px;
            }
        }
        .summary {
            font-size: 18px;
            margin-bottom: 40px;
        }
        .yellow-btn {
            position: absolute;
            left: 20px;
            bottom: 0;
        }
    }
}

.last-news-header {
    font-weight: bold;
    font-size: 30px;
    color: #a7a7a5;
    text-transform: uppercase;
    padding: 35px 15px;
    margin-bottom: 0;
}

.body-row {
    margin-left: 0;
    margin-right: 0;
    .custom-col {
        padding-left: 0;
    }
}

.horizontal-card {
    margin-bottom: 25px;
    .col {
        img {
            width: 100%;
        }
        .date {
            font-size: 16px;
            padding-left: 10px;
        }
        .title {
            font-size: 32px;
            color: #005b9e;
            text-transform: uppercase;
            padding-left: 10px;
            @media only screen and (max-width: 1199px) {
                font-size: 22px;
            }
            @media only screen and (max-width: 991px) {
                font-size: 18px;
            }
            @media only screen and (max-width: 767px) {
                font-size: 15px;
            }
        }
    }
    .caption {
        padding-left: 15px;
    }
    .image-wrapper {
        padding-left: 0;
        padding-right: 0;
        img {
            width: 100%;
            @media only screen and (max-width: 767px) {
                padding-left: 15px;
            }
        }
    }
}

.vertical-card {
    .image-wrapper {
        img {
            width: 100%;
            @media only screen and (max-width: 767px) {
                padding-left: 15px;
            }
        }
    }
    .caption {
        padding-left: 15px;
        .date {
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .title {
            font-size: 32px;
            text-transform: uppercase;
            color: #005b9e;
            @media only screen and (max-width: 1199px) {
                font-size: 22px;
            }
            @media only screen and (max-width: 991px) {
                font-size: 18px;
            }
        }
    }
    .caption-coach {
        padding-left: 0;
    }
}

.album-card {
    margin-bottom: 75px;
    .caption {
        .date-album {
            font-size: 14px;
            margin-top: 10px;
        }
        .fa {
            margin-top: 10px;
            margin-left: 28px;
            margin-right: 8px;
        }
        .photo-count {
            font-size: 14px;
            margin-top: 10px;
        }
        .views-album {
            font-size: 14px;
            margin-top: 10px;
        }
        .title-album {
            font-size: 18px;
            text-transform: inherit;
        }
    }
}

.birthday-wrapper {
    ul {
        list-style: none;
        padding-left: 15px;
        li {
            border-bottom: 2px solid #e4e4e4;
            .date {
                margin-right: 38px;
                @media only screen and (max-width: 767px) {
                   margin-right: 15px;
                }
            }
            .name {
                text-transform: uppercase;
                font-size: 24px;
                color: #005b9e;
                @media only screen and (max-width: 767px) {
                   font-size: 15px;
                }
            }
        }
    }
}

.history-wrapper {
    margin-top: 55px;
    position: relative;
    margin-bottom: 55px;
    .history {
        text-transform: uppercase;
        font-size: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;    
        font-weight: 700;
        color: #FFF;
        @media only screen and (max-width: 991px) {
            font-size: 40px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 30px;
            top: 52%;
        }
        @media only screen and (max-width: 450px) {
            font-size: 26px;
        }
        .history-yellow {
            color: #dbb313;
        }
        .history-small {
            font-style: italic;
            font-family: 'PT Sans';
            font-size: 18px;
            line-height: 10px;
            text-align: center;
            font-weight: normal;
            @media only screen and (max-width: 767px) {
                line-height: 5px;
                margin-top: 10px;
            }
            @media only screen and (max-width: 450px) {
                font-size: 16px;
                margin-top: 0px;
            }
        }
    }
    img {
        width: 100%;
    }
    .my-btn {
        position: absolute;
        bottom: -16px;
        left: 38%;
        padding: 6px 0px;
        width: 250px;
        @media only screen and (max-width: 991px) {
            left: 41%;
            width: 150px;
        }
        @media only screen and (max-width: 767px) {
            left: 36%;
            bottom: -25px;
        }
    }
    .schedule {
        text-transform: uppercase;
        color: #fdd400;
        font-size: 48px;
        position: absolute;
        left: 40px;
        top: 29%;
        @media only screen and (max-width: 991px) {
            font-size: 30px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 450px) {
            font-size: 15px;
        }
    }
}

.feedback {
    background-color: #fdd400;
    padding: 30px 20px;
    margin-left: 0;
    margin-right: 0;
    max-height: 100px;
    .first {
        color: #005b9e;
        font-size: 48px;
        position: relative;
        top: -14px; 
        text-transform: uppercase;
        @media only screen and (max-width: 1199px) {
            font-size: 37px;
            top: -7px;
        }
    }
    .second {
        font-size: 16px;
        line-height: initial;
    }
    .third {

    }
}

.blue-line {
    height: 12px;
    width: 100%;
    background-color: #004273;
    margin-top: 12px;
}

.grey-line {
    height: 2px;
    background-color: #dcdcdc;
    margin-bottom: 16px;
    margin-left: 90px;
    margin-right: 90px;
}

.sponsor-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 14px;
}

.sponsor-l {
    margin-bottom: 28px;
    i {
        margin: 0 auto;
    }
}

.footer {
    padding-left: 55px;
    padding-right: 55px;
    .custom-col {
        color: #005b9e;
        font-size: 18px;
        text-align: center;
        .footer-header {
            text-transform: uppercase;
        }
        .clearfix {
            max-width: 75px;
            margin: 0 auto;
            .team-col-first {
                float: left;
            }
            .team-col-second {
                float: right;
            }
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {    
                color: #3d3d3d;
                font-size: 14px;
                a {
                    i {
                        display: inline-block;
                        margin-left: 8px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.right-wrapper {
    text-transform: uppercase;
    text-align: center;
    .table-header-wrapper {
        position: relative;
        left: -9px;
        .table-header {
            display: inline;
            color: #005b9e;
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }
        i {
            position: relative;
            display: inline-block;
            top: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .sub-header {
        font-size: 16px;
        color: #005b9e;
        position: relative;
        top: -3px;
        left: -9px;
        display: none;
    }
    .table {
        display: none;
        thead {
            tr {
                th {
                    text-align: center;
                    color: #8b8b8b;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: normal;
                    border-top: 0;
                    border-bottom: 2px solid #e4e4e4;
                    padding: 6px;
                }
            }
        }
        tbody {
            tr {
                transition: 250ms;
                &:hover {
                    cursor: pointer;
                    background-color: #fecb00;
                    td {
                        color: #005b9e;
                        &:first-child {
                            color: #005b9e;
                        }
                        &:last-child {
                            color: #005b9e;
                        }
                    }
                }
                td {
                    text-align: center;
                    color: #005b9e;
                    font-size: 18px;
                    text-transform: uppercase;
                    border-bottom: 2px solid #e4e4e4;
                    padding: 6px;
                    transition: 250ms;
                    &:first-child {
                        color: #8b8b8b;
                        font-size: 16px;
                    }
                    &:last-child {
                        color: #8b8b8b;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .table-btn {
        border-radius: 0;
        color: #005b9e;
        border: 1px solid #005b9e;
        &:hover {
            background-color: #005b9e;
            color: #FFF;
        }
    }
}

.fixtures-header {
    color: #005b9e;
    text-align: center;
    font-style: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 75px;
}

.prev-next-wrapper {
    margin-bottom: 5px;
    .btn {
        font-size: 12px;
        padding: 5px 15px;
        text-transform: uppercase;
        border-radius: 0;
        border: 1px solid #004273;
        &:hover {
            background-color: #ffd401;
            border: 1px solid #ffd401;
            color: #005b9e;
            cursor: pointer;
        }
    }
    .next {
        float: right;
    }
    .prev {
        float: left;
    }
    .active {
        background-color: #ffd401;
        border: 1px solid #ffd401;
        color: #005b9e;
    }
}

.table-fixtures {
    tbody {
        border-top: 0 !important;
        tr {
            td {
                border-bottom: 2px solid #e4e4e4;
                border-top: 0;
                padding: 5px 17px;
                white-space: nowrap;
            }
            &:nth-child(2) {
                margin: 3px 0;
                td {
                    padding: 3px 0;
                }
            }
            .date {
                font-size: 11px;
                color: #787878;
                text-align: left;
                vertical-align: middle;
            }
            .team-age {
                font-size: 14px;
                color: #787878;
                text-transform: uppercase;
                text-align: center;
            }
            .team {
                font-size: 16px;
                text-transform: uppercase;
                color: #005b9e;
                text-align: center;
                padding: 7px 17px;
                width: 110px;
                vertical-align: middle;
            }
            .score-td {
                text-align: center;
                text-transform: uppercase;
                .score {
                    color: #005b9e;
                    background-color: #fdcb00;
                    padding: 3px 0px;
                    width: 56px;
                    margin: auto;
                }
            }
        }
    }
}

#table-next {
    display: none;
}

/*********feedback modal**********/
.feedback-modal {
    .modal-content {
        border-radius: 0;
        .modal-body {
            .form-group {
                textarea, input {
                    border-radius: 0;
                    border: 2px solid #e9e9e9;
                }
            }
        }
        .modal-footer-custom {
            padding: 0 15px 15px 15px;
            .btn-feedback {
                background-color: #fecb00;
                color: #005b9e;
                text-transform: uppercase;
                border-radius: 0;
                width: 48%;
                font-size: 14px;
                transform: opacity 300ms ease-out;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
}
/*********feedback modal**********/

// *********slider***************
.photo-slider {
    margin-top: 25px;
    img {
        width: 100%;
        height: 100%;
    }
}
// *********slider***************
