.sprite {
    background-image: image-url("spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-L {
    width: 17px;
    height: 25px;
    background-position: -3px -3px;
}

.sprite-L2 {
    width: 73px;
    height: 35px;
    background-position: -26px -3px;
}

.sprite-Logo2 {
    width: 334px;
    height: 335px;
    background-position: -3px -44px;
}

.sprite-R {
    width: 17px;
    height: 25px;
    background-position: -105px -3px;
}

.sprite-R2 {
    width: 73px;
    height: 35px;
    background-position: -128px -3px;
}

.sprite-Search {
    width: 19px;
    height: 19px;
    background-position: -207px -3px;
}

.sprite-fb {
    width: 19px;
    height: 19px;
    background-position: -232px -3px;
}

.sprite-insta {
    width: 19px;
    height: 19px;
    background-position: -257px -3px;
}

.sprite-letter {
    width: 43px;
    height: 43px;
    background-position: -343px -3px;
}

.sprite-logo-mriya {
    width: 225px;
    height: 110px;
    background-position: -392px -3px;
}

.sprite-logo-utc {
    width: 185px;
    height: 85px;
    background-position: -343px -119px;
}

.sprite-ok {
    width: 19px;
    height: 19px;
    background-position: -282px -3px;
}

.sprite-ufc {
    width: 118px;
    height: 36px;
    background-position: -534px -119px;
}

.sprite-vk {
    width: 19px;
    height: 19px;
    background-position: -307px -3px;
}

.sprite-youtube {
    width: 19px;
    height: 19px;
    background-position: -623px -3px;
}
